<div class="toolbar" role="banner">
</div>

<div class="content" role="main">

	<header>
		<div class="container">
			<img src="assets/logo.png" alt="logo" class="logo">
	
	
			<nav>
				<ul>
					<li><a routerLink = '/appcomponent'>Home</a></li>
					<li><a routerLink = '/checkout'>Checkout</a></li>
					<li><a routerLink = '/shop'>Shop</a></li>
					<li><a routerLink = '/previousorder'>Previous orders</a></li>
				</ul>
			</nav>
	
		</div>
	</header>

	<body>
		<div>

			<div class="container">
				<img src="assets/t-shirt.png" alt="t-shirt" class="t-shirt">
			</div>


		</div>
		
	</body>

	<!-- Terminal -->
	<div class="terminal" [ngSwitch]="selection.value">
		<pre *ngSwitchDefault>ng generate component xyz</pre>
		<pre *ngSwitchCase="'material'">ng add @angular/material</pre>
	</div>

</div>

<router-outlet></router-outlet>
