<div class="toolbar" role="banner">
</div>

<div class="content" role="main">
	<span>{{ title }} app is running!</span>

	<!-- Next Steps -->
	<h2>Next Steps</h2>
	<p>What do you want to do next with your app?</p>

	<input type="hidden" #selection>

	<div class="card-container">
		<div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
			<span>New Component</span>
		</div>

		<div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
			<span>Angular Material</span>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div ngbDropdown class="d-inline-block">
				<button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<button ngbDropdownItem>Action - 1</button>
					<button ngbDropdownItem>Another Action</button>
					<button ngbDropdownItem>Something else is here</button>
				</div>
			</div>
		</div>
	</div>

	<form>
		<input type="button" value="asdf"/>
	</form>

	<!-- Terminal -->
	<div class="terminal" [ngSwitch]="selection.value">
		<pre *ngSwitchDefault>ng generate component xyz</pre>
		<pre *ngSwitchCase="'material'">ng add @angular/material</pre>
	</div>

	<!-- Footer -->
	<footer>
		<p>Herp derp</p>
	</footer>
</div>

<router-outlet></router-outlet>
