<div>
    <div class="container">
        <div class="jumbotron jumbotron-fluid bg-white">
            <h1>Checkout</h1>
            <br>
            <p>Welcome to the checkout. Please edit your order and proceed to payment. </p>
        </div>

        <div class="orderItems" *ngFor="let shirt of tshirts; let i=index">
            <div class="well well-sm border bg-light p-2 m-1" >
                <div>
                <img
                    id={{i}}
                    src="../../assets/t-shirt-pictures/{{shirt.color}}_shirt.jpg"
                    alt="unable to show t-shirt"
                    width="10%"
                    height="10%"
                    class="img-thumbnail"
                />
                <br>
                Color: <span class=thin>{{shirt.color}}</span>&nbsp;&nbsp;&nbsp;
                <br>
                Size: <span class=thin>{{shirt.size}}</span><br>
                Word: <span class=thin style="white-space: pre-line"><i>{{shirt.word}}</i></span><br>
                Form: <span class=thin style="white-space: pre-line"><i>{{shirt.form}}</i></span><br>
                Def: <span class=thin style="white-space: pre-line"><i>{{shirt.def}}</i></span><br>
                Price: <span class=thin>{{shirt.cost}}:-</span><br>
                </div>
            </div>
        </div>
    </div>
    <ul>
        Total: <span class=thin>{{total}}</span>:-<br>
    </ul>
    <button (click)="onPayClick()">Pay!</button>
</div>