<div>
    <div class="container">
        <div class="jumbotron text-center bg-white">
            <h1>Checkout</h1>
            <br>
            <p class= "font-italic">Welcome to the checkout. Please edit your order and proceed to payment. </p>
        </div>

        <button class="btn btn-primary" (click)="clearOrder()">Clear Order</button>

        <div class="orderItems" *ngFor="let shirt of tshirts; let i=index">
            <div class="well well-sm border bg-light p-2 m-1" >
                <div>
                <img
                    *ngIf="shirt.imageDataUrl == ''"
                    id={{i}}
                    src="../../assets/t-shirt-pictures/{{shirt.color}}_shirt.jpg"
                    alt="unable to show t-shirt"
                    width="10%"
                    height="10%"
                    class="img-thumbnail"
                />
                <img
                    *ngIf="shirt.imageDataUrl != ''"
                    id={{i}}
                    src="{{ shirt.imageDataUrl }}"
                    alt="unable to show t-shirt"
                    width="10%"
                    height="10%"
                    class="img-thumbnail"
                />
                <br>
                Color: <span class=thin>{{shirt.color}}</span> (<span style="background-color:{{ shirt.color }}">&nbsp;&nbsp;&nbsp;&nbsp;</span>)<br>
                Text color: <span class=thin>{{ shirt.textColor}}</span> (<span style="background-color:{{ shirt.textColor }}">&nbsp;&nbsp;&nbsp;&nbsp;</span>)<br>
                Size: <span class=thin>{{shirt.size}}</span><br>
                Word: <span class=thin style="white-space: pre-line"><i>{{shirt.word}}</i></span><br>
                Form: <span class=thin style="white-space: pre-line"><i>{{shirt.form}}</i></span><br>
                Def: <span class=thin style="white-space: pre-line"><i>{{shirt.def}}</i></span><br>
                Amount: <span class=thin style="white-space: pre-line"><i>{{shirt.quantity}}</i></span><br>
                Price: <span class=thin>{{shirt.quantity*shirt.cost}}:-</span><br>
                </div>
            </div>
            <input type="number" min="1" max="200" step="1" value="{{shirt.quantity}}" (change)="updateQuantity(shirt, $event)">
        </div>
    </div>
    <ul>
        Total: <span class=thin>{{total}}</span>:-<br>
    </ul>
    <button class="btn btn-primary" (click)="onPayClick(payformModal)">Pay!</button>
</div>

<ng-template #payformModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Enter Credentials</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
      <div class="modal-body">
        <form (ngSubmit)=onSubmit(credForm) ngNativeValidate #credForm="ngForm">
            <div>
                <label>Name</label>
                <input type="text" placeholder="First Name" required [(ngModel)]="fname" name="firstName">
                <input type="text" placeholder="Last Name" required [(ngModel)]="lname" name="lastName">
            </div>
            <div>
                <label>E-mail</label>
                <input type="text" id="email" name="email" required [(ngModel)]="email">
            </div>
            <div>
                Address:
                <br>
                <div>
                    Street
                    <input type="text" name="street" required [(ngModel)]="street">
                </div>
                <div>
                    Nbr
                    <input type="text" id="streetnbr" required name="streetnbr" [(ngModel)]="nbr">
                </div>
                <div>
                    Country
                    <input type="text" id="country" required name="country" [(ngModel)]="country">
                </div>
                <div>
                    City
                    <input type="text" id="city" name="city" required [(ngModel)]="city">
                </div>
                <div>
                    Area Code
                    <input type="text" id="acode" name="acode" required [(ngModel)]="acode">
                </div>
            </div>
            <input type="submit" class="btn btn-primary col-md-2" value="Submit">
        </form>
    </div>
</ng-template>
