

<div>

    <div class="container">

        <div class="jumbotron text-center bg-white">
            <h1>Lets make some beutiful t-shirts</h1>
            <br>
            <p class="font-italic"> Customize with your own favorite wiktionary content</p>


        </div>

        <div class="well well-lg border bg-light p-5 m-1" >


          <div class="row align-items-center text-center">
            <div class="col-md-1"></div>

            <div class="col-md-5">

              <div class="p-3">
                <img
                  id="shirt"
                  src={{selectedShirt}}
                  alt="unable to show t-shirt"
       

                  class="img-thumbnail img-fluid"
                />
              </div>
              
            </div>


            <div class="col-md-4">

                <select
              class="form-control d-inline  w-auto"
              (change)="onChange($event)"
            >
              
              <option Selected value={{white}}>White</option>
              <option value={{black}}>Black</option>
              <option value={{green}}>Green</option>
              <option value={{blue}}>Blue</option>
              <option value={{yellow}}>Yellow</option>
              <option value={{red}}>Red</option>
            </select>
            </div>
            <div class="col-md-2"></div>

          </div>

              

            
        </div>


        <div class="row m-5 align-items-center text-center">
          <div class="col-md-10">
          </div>
          <div class="col-md-2">
    
            <button (click)="onCheckClick()">Go to checkout</button>
    
          </div>
    
        </div>
    
    </div>


    


 


</div>



