<form class="card card-body border bg-light p-5 m-1" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
  <div class="form-group row justify-content-between">
    <label for="wiktionary-search-field" class="col-md-2 col-form-label text-right">Search term</label>
    <input type="text" id="wiktionary-search-field" name="searchterm" class="form-control col-md-5" [(ngModel)]="term">
    <select name="searchlanguage" class="form-control col-md-2" [(ngModel)]="lang">
      <option *ngFor="let option of langs | keyvalue" [value]="option.value">{{ option.key }}</option>
    </select>
    <input type="submit" class="btn btn-primary col-md-2">
  </div>
  <div id="results">
    <div class="form-check" [(ngModel)]="selectedDefinition">
      <label class="form-check-label" *ngFor="let def of definitions">
        <input type="radio" class="form-check-input" data-toggle="list">
        {{ term }} ({{ def.partOfSpeech }}): {{ def.definitionText }}
      </label>
    </div>
  </div>
</form>
