<form class="card card-body border bg-light p-5 m-1" (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
  <div class="form-group row justify-content-between">
    <label for="wiktionary-search-field" class="col-md-2 col-form-label text-right">Search term</label>
    <input type="text" id="wiktionary-search-field" name="searchterm" class="form-control col-md-5" [(ngModel)]="term">
    <select name="searchlanguage" class="form-control col-md-2" [(ngModel)]="lang">
      <option *ngFor="let option of langs | keyvalue" [value]="option.value">{{ option.key }}</option>
    </select>
    <input type="submit" class="btn btn-primary col-md-2" value="Search">
  </div>
  <div id="results">
    <ul class="list-group" id="definition-results">
      <li class="list-group-item list-group-item-action"
        *ngFor="let def of definitions"
        [attr.data-term]="def.term"
        [attr.data-partOfSpeech]="def.partOfSpeech"
        [attr.data-text]="def.text"
        (click)="onDefinitionSelect($event)">
        {{ def.term }} ({{ def.partOfSpeech }}): {{ def.text }}
      </li>
    </ul>
  </div>
</form>
