<head>
    <link rel="stylesheet" href="./previousOrder.component.css">
</head>

<div>
    <div class="container">
        <div class="jumbotron text-center bg-white">
            <h1> Here you can see your previous orders </h1>
        </div>
    </div>
</div>
<div>
    <ul *ngFor="let order of orders">
        <div class="well well-lg border bg-light p-3 m-1" >
            <h1 style="text-align:center"> Order Number: {{order.id}}</h1>
            <ul *ngFor="let shirt of order.shirts">
                <img
                    *ngIf="shirt.imageDataUrl == ''"
                    id="shirt"
                    src={{shirtFiles[shirt.color]}}
                    alt="unable to show t-shirt"
                    width="5%"
                    height="5%"
                    class="img-thumbnail"
                />
                <img
                    *ngIf="shirt.imageDataUrl != ''"
                    id="shirt"
                    src="{{ shirt.imageDataUrl }}"
                    alt="unable to show t-shirt"
                    width="5%"
                    height="5%"
                    class="img-thumbnail"
                />
                <br>
                Color: <span class=thin>{{shirt.color}}</span> (<span style="background-color:{{ shirt.color }}">&nbsp;&nbsp;&nbsp;&nbsp;</span>)<br>
                Text color: <span class=thin>{{ shirt.textColor}}</span> (<span style="background-color:{{ shirt.textColor }}">&nbsp;&nbsp;&nbsp;&nbsp;</span>)<br>
                Size: <span class=thin>{{shirt.size}}</span><br>
                Word: <span class=thin style="white-space: pre-line"><i>{{shirt.word}}</i></span><br>
                Form: <span class=thin style="white-space: pre-line"><i>{{shirt.form}}</i></span><br>
                Def: <span class=thin style="white-space: pre-line"><i>{{shirt.def}}</i></span><br>
                Price per shirt: <span class=thin>{{shirt.cost}}</span><br>
                Number of shirts: <span class=thin>{{shirt.quantity}}</span><br>
                <hr>
            </ul>
            <ul>
                Total cost: <span class=thin>{{order.totalcost}}</span><br>
            </ul>
            <br>
        </div>
    </ul>
</div>
