.s1{
    margin-top: 40px;
    font-size: 70px;
    margin-left: 150px;
}
.s2{
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
    margin-right: 100px;
}

.s3{
    margin-top: 100px;
}

.t-shirt{
    float: center;
    vertical-align: middle;
    text-align: center;
    line-height: 150px;
}
